*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: 'Roboto',sans-serif;

}


body{
	width:100%;
	background:url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80');

	background-attachment: fixed;
	height: 100%;
	overflow-x: hidden;
}
a{
	text-decoration: none;
	color: black;
}
p{
	font-size: 1.8rem;
	font-weight: 400;
	color: black;
}

header{
	width: 100%;
	height: 100vh;
}
.top-nav{
	width: 100%;
	height: 100vh;
	top:-100vh;
	position: fixed;
	background: white;
	transition: all 650ms cubic-bezier(0,0,0,1);
	z-index: 50;
}

.nav-list{
	list-style: none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
li{
	margin: 0 2rem;
}
.nav-link{
	font-family: 'Pacifico',sans-serif;
	font-size: 3rem;
	padding-bottom: 1rem;
	transition: all 300ms ease;
}
.nav-link:hover,.nav-link:focus{
	color:red;
	font-size: 3.5rem;
}
.top-nav.open{
	top:0;
	border-radius: initial;
}
.menu-toggler{
	position: absolute;
	top: 5rem;
	right: 5rem;
	width: 5rem;
	height: 4rem;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	z-index: 1500;
	transition: transform 650ms ease-out;
}
.menu-toggler.open{
	transform: rotate(-45deg);
}
.bar{
	background-color: black;
	width: 100%;
	height: 4px;
	border-radius: .8rem;
}
.bar.half{
	width:50%;
}
.bar.start{
	transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}
.bar.end{
	align-self: flex-end;
	transform-origin: left;
	transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}
.open .bar.start{
	transform:rotate(-450deg) translateX(.8rem);
}
.open .bar.end{
	transform:rotate(-450deg) translateX(-.8rem);
}
.landing{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	text-align: center;
	z-index: 1;
	padding-left: 10px;
}
.landing h1{
	font-size: 10rem;
	font-family: 'Pacifico',sans-serif;
	user-select: none;
	transform: rotate(-10deg); 
	color: black;
}
.social{
	top:50%;
	position: sticky;
	padding-left: 50%;
}
.social span{
	display:block;
	margin-left:5%;
	font-size: 3rem;
	color: black;
}
.fa-instagram:hover{
	color: #e4405f;
	transform: scale(1.2);
	transition: transform 500ms ease;
}
.fa-facebook-square:hover{
	color: #3b5998;
	transform: scale(1.2);
	transition: transform 500ms ease;
}
.fa-linkedin:hover{
	color: #0077b5;
	transform: scale(1.2);
	transition: transform 500ms ease;
}
.fa-github-square:hover{
	color: #1a9540;
	transform: scale(1.2);
	transition: transform 500ms ease;
}

.container-fluid{
	margin:0;
	padding:0;

}
@media only screen and (max-width: 576px){

	.social{
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 50%;
		transform: translateY(-5%);
	}
	.social span{
		padding: 0 1rem;
	}
	.nav-list{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.nav-item{
		padding-bottom: 3rem;
	}
	.container{
	        padding: 0;
        }
        body{
                overflow-x:hidden;
         
            }
}
.row{
	margin: 0;
}
.about .container{
	display: flex;
	align-items: center;
	justify-content: center;
}
.aheading{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 4rem;
}

.aheading h1{
	font-size: 7rem;
	opacity: .6;
	font-weight: 600;
}

.aheading h6{
	letter-spacing: 2.9rem;
	transform: translate(10px, -15px); 
}
.aheading h6, .heading h6{
	font-size: 2rem;
	opacity: 1;
	color: white;
	font-weight: 800;
	text-shadow: 0px 0px 18px black;
}

.heading h1{
	font-size: 5rem;
	opacity: .6;
	font-weight: 600;
}
.heading h6{
	letter-spacing: 2px;
}
.heading{
	text-align: center;
	margin-top:10rem;
	text-transform: uppercase;
}
.sdetails{
	text-align: center;
	margin-top: 7rem;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
	grid-gap: 2.5rem; 
}
.sd{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:2rem;
}
.sd h3{
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 2rem -2px 2rem 0;
}

.icon{
	background-color: black;
	border: 2px white solid;
	height: 10rem;
	width: 10rem;
	display: flex;
	transform: rotate(45deg);
	margin-bottom: 5rem;
}
.icon i{
	color: white;
	font-size: 5rem;
	transform: rotate(-45deg);
	margin: auto;
}
.pdetails{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: ;
	margin:5rem 2rem;
	background-color: rgba(255,255,255,0.7);
	padding: 2rem 2rem;
	
}
.pitems{
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
}
.pdetails h4{
	letter-spacing: 1px;
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 3rem;
	font-family: 'Pacifico',sans-serif;
}
.pdetails a{
	color: black;
	font-size: 1.7rem;
	font-weight: 500;
	text-decoration: none;
	font-family: 'Pacifico',sans-serif;
	letter-spacing: 1px;
	padding-top: 2rem;
}
.pdetails a:hover{
	color: red;
}
.pdetails:hover{
	box-sizing: border-box;
	box-shadow: 6px 6px 20px rgba(0,0,0,0.5);
	transition: all 400ms ease-out;
	transform: scale(1.01);
	background-color: white;
}
.timeline{
	margin-top: 5rem;
}
.timeline ul{
	border-left: solid 4px red;
	border-radius: .8rem;
	background-color: rgba(255,255,255,0.4);
	margin:0 auto;
	position: relative;
	padding:5rem;
	list-style: none;
	text-align: left;
	width: 70%;
}
.timeline h3{
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 2rem;
	opacity: 0.8;
}
.timeline .date{
	border-bottom: 1px solid rgba(255,255,255,0.1);
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	position: relative;
}
.timeline .date::before,
.timeline .date::after{
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);
}
.timeline .date::before{
	content: attr(data-date);
	left: -20rem;
	text-align: right;
	min-width: 12rem;
	font-size: 1.7rem;
	transform:rotate(-90deg);
	font-weight: 500;
	opacity: 0.8;
	letter-spacing: 1px;
}
.timeline .date::after{
	content: '';
	box-shadow: 0 0 0 2px white;
	border-radius: 100%;
	left: -8rem;
	height: 1.5rem;
	width: 1.5rem;
	background-color: red;
}
form{
	width: 70%;
	margin:0 auto;
	margin-top: 7rem;
}
form label{
	font-size:1.5rem;
}
input,textarea{
	width: 100%;
	padding: 1rem;
	margin-bottom: 10px;
	border:none;
	outline-color: black;
}
input[type="submit"]{
	width: initial;
	background-color: rgba(0,0,0,0.6);
	color: white;
	padding: 1rem 2rem;
	text-transform: uppercase;
	border-radius: .8rem;
	transition: all 300ms;
}
input[type="submit"]:hover{
	background-color: red;
	transform: scale(1.1);
}
.copyright{
	width:100%;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	padding: 2rem 0;
	position: relative;
}
.up{
	position: absolute;
	width: 5rem;
	height: 5rem;
	background-color: #eee;
	top: -2.5rem;
	right: 5rem;
	border-radius: 100%;
	display: flex;
	animation: pulse 2s infinite;
}
.up i{
	font-size: 2rem;
	margin: auto;
}
.copyright p{
	font-size: 1.4rem;
	color: white;
}
@keyframes pulse{
	0%{
		box-shadow: 0 0 0 0 rgba(255,23,45,0.99);
	}
	70%{
		box-shadow: 0 0 0 2rem rgba(255,23,45,0);
	}
	100%{
		box-shadow: 0 0 0 0 rgba(255,23,45,0.99);
	}
}
